.body {
  background: #ede5f5;
}
.form {
  border: #67037a solid;
}

.form1 {
  background: radial-gradient(#fcf482, #ee82fc);
  border: #67037a solid;
}

.boton {
  background-image: radial-gradient(#ee82fc, #fcf482);
}
